footer {
    display: flex;
    justify-content: center;
}

.footer-wrapper {
    background-color: #141414;
    width: 1440px;
}

.footer__inner {
    display: flex;
    justify-content: space-evenly;
    margin-top: 117px;
}

.rights{
    font-weight: 300;
    font-size: 14px;
    color: #7B7B7B;
    margin-top: 175px;
    margin-bottom: 109px;
}

.footer__get-request {
    color: #FFFFFF;
    background-color: #EC5D2B;
    border-radius: 50px;
    padding: 16px 24px;
    display: inline-block;
    font-size: 14px;
    margin-top: 78px;
}

.footer__get-request:hover {
    transition-delay: inherit;
    transition: 0.3s;
    cursor: pointer;
    background-color: rgb(236, 93, 43, 0.6);
}
.footer__get-request:active {
    transition-delay: inherit;
    transition: 0.3s;
    background-color: rgb(236, 93, 43, 0.8);
}

.site-map__item {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 24px;
}

.site-map__item:hover {
    cursor: pointer;
    scale: 1.05;
    transition: all 0.3s ease 0s;
}

.site-map__item:last-child {
    margin: 0;
}

.footer__contacts {
    color: #7B7B7B;
}

.footer__contacts img {
    margin-right: 10px;
}

.footer__contacts-item {
    margin-bottom: 21px;
    font-weight: 300;
    font-size: 14px;
    display: flex;
}

.footer__contacts-item:last-child {
    margin-bottom: 0;
    color: #FFFFFF;
}

.footer__social-net {
    margin-top: 125px;
}

.social_net__item {
    margin-right: 9px;
}

.social_net__item:last-child {
    margin-right: 0;
}

.social_net__item:hover {
    cursor: pointer;
    transition-delay: inherit;
    transition: 0.3s;
    scale: 1.2;
}

.footer-mobile {
    display: none;
}

@media screen and (max-width: 767px) {
    footer {
        display: none;
    }
    .footer-mobile {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #141414;
    }
    .footer-wrapper {
        width: auto;
        max-width: 320px;
        padding: 20px;
    }
    .footer__inner {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
    }
    .footer__logo-wrapper {
        width: 112px;
        height: 37px;
        /*margin-top: 60px;*/
    }
    .footer__card-wrapper {
        display: flex;
        margin-top: 85px;
        margin-bottom: 46px;
    }
    .footer__site-card:first-child {
        margin-right: 25px;
    }
    .site-map__item {
        font-size: 10px;
    }
    .site-map__item:not(:last-child) {
        margin-bottom: 16px;
    }
    .rights {
        margin-top: 0;
        margin-bottom: 46px;
    }
    .footer__contacts-item {
        display: flex;
        align-items: center;
    }
    .footer__contacts-item img{
        width: 24px;
        height: 24px;
    }
    .footer__social-net {
        margin-bottom: 35px;
        margin-top: 35px;
    }
    .footer__get-request {
        margin-top: 0;
        display: flex;
        justify-content: center;
        font-size: 10px;
        padding: 12px 16px;
    }
}
