.advantages {
    margin-top: 120px;
    width: 1170px;
}

.adv-strap {
    position: absolute;
    right: 0;
    z-index: -1;
}

.advantages__header {
    /*background-image: url("../../assets/img/adv_strap.png");*/
    margin-top: 53px;
    font-family: "Actay Wide";
    font-weight: 700;
    font-size: 40px;
}

.advantages__group {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.advantages__item {
    position: relative;
    width: 270px;
    height: 388px;
    background-color: #FFFFFF;
    padding: 31px;
    box-sizing: border-box;
}

.adv_icon {
    width: 24px;
    height: 24px;
}

.advantage-number {
    margin-top: 63px;
    font-weight: 700;
    font-size: 20px;
    color: #DBDBDB;
}

.item-name {
    font-weight: 700;
    font-size: 16px;
}

.item-description {
    width: 208px;
    position: absolute;
    top: 232px;
    font-weight: 300;
    font-size: 14px;
}

.advantages__about {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.about-description {
    width: 560px;
    font-weight: 300;
    font-size: 16px;
}

.picture-helmet {
    width: 570px;
    height: 331px;
    background-color: #FFFFFF;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
    .advantages {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }
    .adv-strap {
        display: none;
    }
    .advantages__header-wrapper {
        width: inherit;
        max-width: 280px;
    }
    .advantages__header {
        margin-top: 0;
        font-size: 20px;
    }
    .advantages__group {
        flex-direction: column;
        align-items: center;
        width: auto;
        max-width: 280px;
        padding: 20px;
        margin-top: 0;
    }
    .advantages__item:not(:last-child) {
        margin-bottom: 15px;
    }
    .advantages__item{
        width: auto;
        height: auto;
        min-height: 240px;
        padding: 20px;
    }
    .advantage-number {
        font-size: 16px;
        margin-top: 40px;
    }
    .item-name {
        font-size: 14px;
    }
    .item-description {
        font-size: 12px;
        top: 0;
        position: relative;
        width: auto;
        margin-top: 15px;
    }
    .advantages__about {
        margin-top: 40px;
        flex-direction: column-reverse;
        width: auto;
        max-width: 280px;
        padding: 20px;
    }
    .picture-helmet {
        height: 162px;
        width: auto;
    }
    .about-description {
        margin-top: 20px;
        width: auto;
        font-size: 12px;
    }
}
