.pay-delivery {
    width: 1170px;
    margin-top: 120px;
    margin-bottom: 120px;
}

.pay-delivery__header {
    font-family: "Actay Wide";
    font-weight: 700;
    font-size: 40px;
}

.pay-delivery__description {
    width: 570px;
    font-weight: 300;
    font-size: 18px;
    margin: 30px 0;
}

.pay-delivery__options-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pay-delivery__option {
    width: 570px;
    height: 235px;
    background-color: #FFFFFF;
    margin-top: 30px;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
}

.option-title {
    font-weight: 700;
    font-size: 16px;
}

.dlvr-option-description {
    margin-top: 13px;
    font-weight: 300;
    font-size: 14px;
}

.dlvr-option-additional {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
}

.banks-option-additional {
    position: absolute;
    bottom: 30px;
}

.banks-option-additional img {
    width: 60px;
    height: 60px;
}

.entity-option-additional {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 30px;
}

.request-invoice {
    font-weight: 600;
    font-size: 14px;
    color: #EC5D2B;
    background-color: rgb(236, 93, 43, 0.2);
    padding: 16px 24px;
    border-radius: 60px;
    display: inline-block;
    margin-left: 10px;
}

.folder-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: rgb(236, 93, 43, 0.2);
    border-radius: 100%;
}

.folder-icon:hover,
.request-invoice:hover{
    cursor: pointer;
    transition-delay: inherit;
    transition: 0.3s;
    background-color: rgb(236, 93, 43, 0.1);
}

.folder-icon:active,
.request-invoice:active{
    transition-delay: inherit;
    transition: 0.3s;
    background-color: rgb(236, 93, 43, 0.3);
}

@media screen and (max-width: 767px) {
    .pay-delivery {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 60px;
    }
    .pay-delivery__wrapper {
        width: auto;
        max-width: 280px;
    }
    .pay-delivery__header {
        font-size: 20px;
    }
    .pay-delivery__description {
        margin-top: 20px;
        width: auto;
        font-size: 12px;
        margin-bottom: 0;
    }
    .pay-delivery__option {
        padding: 20px;
        width: auto;
        height: auto;
        max-width: 280px;
        max-height: 235px;
    }
    .pay-delivery__option:not(:first-child) {
        margin-top: 20px;
    }
    .option-title {
        font-size: 12px;
    }
    .dlvr-option-description {
        font-size: 12px;
        margin-top: 10px;
    }
    .dlvr-option-additional {
        margin-top: 20px;
        flex-wrap: wrap;
    }
    .option__img-SDEK {
        width: 67px;
        height: 22px;
    }
    .option__img-dpd {
        width: 81px;
        height: 42px;
    }
    .option__img-pochta {
        width: 62px;
        height: 62px;
    }
    .option__img-delovyi {
        width: 113px;
        height: 55px;
    }
    .option__img-PEK {
        width: 79px;
        height: 42px;
    }
    .entity-option-additional {
        margin-top: 30px;
        position: relative;
        top: 0;
    }
    .folder-icon {
        width: 44px;
        height: 44px;
    }
    .request-invoice {
        padding: 16px 24px;
    }
    .banks-option-additional img {
        width: 40px;
        height: 40px;
    }
    .banks-option-additional {
        position: relative;
        bottom: 0;
        margin-top: 30px;
    }
}
